h1{
    color:black;
    margin: auto;
    width:200px;
    margin-bottom: 30px;
}
#container{
    max-height: fit-content;
    max-width: fit-content;
    min-height: 150px;
    min-width: 336px;
    margin: auto;
    border:2px solid lightblue;
    border-radius: 20px;
    background-color:honeydew;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
}
#task-input-container{
    min-height: fit-content;
    padding-bottom: 20px;
    max-width: fit-content;
    min-width: 450px;
    margin: auto;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
#add{
    width:20vw;
    margin: 20px;
    min-width:180px;
    height:1.8rem;
    padding-left: 15px;
    padding-top: 5px;
    padding-left: 15px;
    outline: none;
    font-weight: 300;
    border-radius: 20px;
    font-size: 1.3rem;
}
input::placeholder{
    color:black;
    font-size: 1.3rem;
}
span{
    font-weight:600;
    font-size: 1.2rem;
}
#total-task{
    margin:25px;
    background-color:lightblue;
    border:2px solid black;
    padding: 5px;
    white-space: nowrap;
    border-radius:10px;
}
#pending-task{
    margin:25px;
    white-space: nowrap;
    background-color:lightgoldenrodyellow;
    border:2px solid black;
    padding: 5px;
    border-radius:10px;
}
#completed-task{
    margin:25px;
    position: relative;
    /* top: 25px; */
    white-space: nowrap;
    background-color:lightsalmon;
    border:2px solid black;
    padding: 5px;
    border-radius:10px;
}
#task-container{
    position: relative;
    max-width: 95%;
    max-height: fit-content;
}
ul{
    display: block;
    margin-left:0px;
}
li{
    display: flex;
    border:2px solid lightgray;
    background-color: lightsteelblue;
    margin: auto;
    position: relative;
    min-height: 2.5rem;
    height: fit-content;
    min-width: 250px;
    max-width: 90%;
    margin-top:10px;
    border-radius: 25px;
    padding-left:20px;
    flex-wrap: wrap;
    justify-content: space-between;
}
#checkbox-Input-container{
    position: relative;
    top:2px;
    padding: 5px;
    max-width: 70%;
    min-width: 70%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
    height: fit-content;
}
.custom-checkbox{
    width: 18px;
    height:18px;
    outline: none;
}
label{
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
    left:25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:80%;
}
#set-position{
    position: relative;
    height:100%;
    top:5px;
    right:15px;
    align-items: center;
}
button{
    height:1.7rem;
    min-height: 1.7rem;
    width:fit-content;    
    background-color: lightcoral;
    border:2px solid black;
    font-weight: 700;
    border-radius: 25px;
    font-size:1.2rem;
    box-shadow: 0px  0px 2px 4px lightgray;
}
